/* Header
1 - Geral
2 - Nav Bar
3 - Section 
*/

:root {
    --branco-primario: #FFF;
    --branco-secundario: #FFFEE8;

    --cinza-fundo: #DCDCDC;
    --cinza-borda: #BBCCBB;
    --cinza-fundo-newsletter: rgb(235, 233, 233);

    --marrom-bola: rgb(81, 36, 0);
    --laranja-bola: rgb(217, 114, 50);
    --amarelo-bola: rgb(255, 187, 85);
}

body {
    font-family: Georgia, serif;
}

/* 1 - Geral*/
.home {
    background-image: url("../img/bg-intro.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 460px;
    margin: 0 auto;
}

/* 2 - Nav Bar*/
header {
    width: 100vw;
    height: 80px;
    background-color: #112222;
}

header ul {
    margin-right: 190px;
    text-align: right;
}

header ul li{
    display: inline-block;
    margin: 0 10px;
    position: relative;
    top: 29px;
}

header ul li::after {
    content: "";
    width: 0%;
    height: 5px;
    background-color: #fff;
    display: block;
    transition: width 0.5s;
}

header ul li:hover::after {
    width: 100%;
    transition: width 0.5s; 
}

header ul li a{
    text-decoration: none;
    color: var(--branco-secundario);
    font-size: 1.22em;
}

.titulo-principal {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 3em;
    color: var(--branco-secundario);
    position: absolute;
    top: 12px;
    margin-left: 230px;
}

/* 3 - Section*/
.home h2 {
    position: absolute;
    top: 42%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    font-family: Georgia, serif;
    font-size: 3em;
    font-weight: bold;
    font-stretch: condensed;
    text-align: center;
    color: var(--branco-secundario);
}

.traço {
    width: 20px; 
    height: 20px;
    border-bottom: solid 2px black;
    position: relative;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color:#fff;
    border-width: 4px;
}

.home p {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--branco-secundario);
    font-style: italic;
    font-size: 1.22em;
}

/* Section "Uma Mistura de"
1 - Geral
2 - Título
3 - Imagens
4 - Texto
*/

.segunda-section {
    margin: 70px auto;
    padding: 5px;
    text-align: center;
}

.segunda-section .segunda-section-cafe-1,
.segunda-section .segunda-section-cafe-2 {
    margin: 40px auto;
    width: 290px;
    padding: 10px;
}
.segunda-section .segunda-section-cafe-1 p,
.segunda-section .segunda-section-cafe-2 p {
    text-align: center;
    padding: 10px;
    width: 140px;
    font-size: 2em;
    background-color: #000;
    font-style: italic;
    color: white;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    top: -5px;
    left: -65px;
    transform: translate(0, -50%);
}

.segunda-section .segunda-section-texto {
    margin: 0 auto;
    font-size: 1.125em;
    font-style: italic;
    width: 450px;
    text-align: center;
    line-height: 23px;
}

.segunda-section h2 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

/*Section Saiba Mais
1 - Geral
2 - Bola, legenda, texto
3 - Botão
*/

/* 1 - Geral*/
.terceira-section {
    background-color: var(--cinza-fundo);
    border-top: solid 2px var(--cinza-borda);
    border-bottom: solid 2px var(--cinza-borda);
    width: 100vw;
}

/* 2 - Bola, legenda, texto*/
.terceira-section h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.terceira-section p {
    font-size: 0.8em;
    text-align: left;
    line-height: 17px;
}

.terceira-section .terceira-section-3bolas {
    width: 100vw;
    text-align: center;
}

.terceira-section-paulista {
    width: 270px;
    display: block;
    margin: 70px 30px 0 30px;
    display: inline-block;
}

.terceira-section-carioca {
    width:270px;
    display: block;
    margin: 70px 30px 0 30px;
    display: inline-block;
}

.terceira-section-mineiro {
    width: 270px;
    display: block;
    margin: 70px 30px 0 30px;
    display: inline-block;
}

.terceira-section-bola-paulista, 
.terceira-section-bola-carioca,
.terceira-section-bola-mineiro {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 0 auto 40px auto;
}

.terceira-section-bola-paulista {
    background-color: var(--marrom-bola);
    border: solid 5px var(--cinza-fundo);
    box-shadow: 0 0 0 10px var(--marrom-bola);
}

.terceira-section-bola-carioca {
    background-color: var(--laranja-bola);
    border: solid 5px var(--cinza-fundo);
    box-shadow: 0 0 0 10px var(--laranja-bola);
}

.terceira-section-bola-mineiro {
    background-color: var(--amarelo-bola);
    border: 5px solid var(--cinza-fundo);
    box-shadow: 0 0 0 10px var(--amarelo-bola);
}

/* 3 - Botão*/
.terceira-section-saiba-mais {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;    
}

.terceira-section a {
    text-transform: uppercase;
    text-decoration: none;
    margin: 30px auto 0 auto;
    border: solid;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 1.1em;
    padding: 13px;
}

.terceira-section a:hover {
    background-color: #000;
    color: #fff;
}

/*Section Lugares
1 - Geral
2 - Lugares
*/

/* 1 - Geral*/
.quarta-section {
    background-color: var(--branco-primario);
    border: solid 1px var(--branco-primario);
    width: 100vw;
}

/* 2 - Lugares*/
.quarta-section-lugares {
    width: 60%;
    height: 260px;
    margin: 80px auto 80px auto;
    text-align: left;
}

.quarta-section-lugares h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.quarta-section-lugares p {
    font-size: 1.1em;
    line-height: 24px;
    margin-bottom: 20px;
}

.quarta-section-textos {
    margin: 0 0 0 480px;
    margin-top: -265px;
    width: 340px;
    height: 190px;
}

/* 3 - Imagem*/
.quarta-section-lugares img {
    margin: 0 100% 0 0;
}

/* 4 - Botão*/
.quarta-section a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 1.13em;
    font-weight: bold;
    padding: 13px;
    text-align:center;
    border: solid 3px #000;
}

.quarta-section a:hover {
    background-color: #000;
    color: #fff;
}

/* Section NewsLetter
1 - Geral
2 - Organizacao
3 - Texto
4 - Input
5 - Botão
*/

/* 1 - Geral*/
.quinta-section {
    background-color: var(--cinza-fundo-newsletter);
    border: solid 1px var(--cinza-fundo-newsletter);
    padding-bottom: 20px;
    width: 100vw;
}

/* 2 - Organizacao*/
.quinta-section-texto {
    width: 650px;
    margin: 0 auto;
    display: inline-block;
}

.quinta-section-input {
    width: 650px;
    margin: -105px 0 0 50%;
    display: inline-block;
    position: relative;
    top: -55px;
}

/* 3 - Texto*/
.quinta-section h2 {
    font-size: 2.1em;
    font-weight: bold;
    text-align: left;
    margin: 0 0 0 220px;
    padding-top: 40px;
}

.quinta-section p {
    font-style: italic;
    font-size: 1.3em;
    text-align: left;
    margin: 10px 0 0px 220px;
}

/* 4 - Input*/
.quinta-section input {
    border: solid 3px #000;
    padding: 10px;
    font-size: 1.3em;
    font-style: italic;
    background-color: var(--cinza-fundo-newsletter);
}

/* 5 - Botão*/
.quinta-section-input div {
    width: 130px;
    height: 50px;
    background-color: #000;
    text-align: center;
    margin: -50px 0 0 305px;
}

.quinta-section-input a {
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 12px;
    font-size: 1.5em;
    text-transform: uppercase;
}

/*Footer 
1 - Geral
2 - Texto
3 - Titulo Rodapé
*/

/* 1 - Geral*/
footer {
    background-color: var(--cinza-fundo);
    border: solid 1px var(--cinza-fundo);
    padding-top: 35px;
    padding-bottom: 25px;
    width: 100vw;
}

/* 2 - Texto*/
footer p {
    font-size: 1.15em;
    margin-bottom: 5px;
}

/* 3 - Titulo Rodapé*/
.titulo-rodape {
    font-weight: bold;
    font-size: 3em;
    color: var(--branco-secundario);
    margin: -50px 0 0 1030px;
}

footer div {
    width: 500px;
    margin: 0 0 0 220px;
}















@media screen and (max-width: 1050) {
    header {
        background-color: yellow;
    }

    .segunda-section {
        height: 12000px;
    }
}